# Operating System files
.DS_Store # macOS
Thumbs.db # Windows

# Editor/IDE specific files
.vscode/ # VS Code settings
.idea/ # IntelliJ IDEA settings
*.sublime-project
*.sublime-workspace

# Temporary or build-related files (if any are generated)
*.tmp
*.log
*.bak


# Any locally built pdfs during development/testing
*.pdf
